* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right, #02011f, #01021c, #010218, #010315, #010310, #040611, #080a13, #0b0d14, #11131a, #141721, #181b27, #1c1f2e);
    background-repeat:repeat;
    background-size:cover;
    background-position: center;
    
}


.container-fluid {
    margin-top: 3.5em;
}
 .LeftSide{
    margin-top: 3em;
    font-size: 1.2em;
    line-height: 1.6;
}


.Logo{
    font-family: 'Lilita One', sans-serif;
    color:  rgb(247, 242, 238);
    font-size: 5rem;
    text-decoration: none;
    /* margin-bottom: 1em; */
}
.LeftSide p {
    font-family: 'Afacad', sans-serif;
    color:rgb(247, 242, 238);
    font-weight: 400;
}


a{
    transition: color 0.4s  ease-in
}
a:hover{
    color:rgb(245, 159, 84)
}

#shining{
    color: white;
    font-size:1.4rem;
    font-weight:500;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

.rightSide{
    border: .3px solid rgb(243, 226, 211);
    border-radius: 7px;
    /* margin-top: 3.3em; */
    position:relative ;
    top:55px;
    padding-top: 1.5em;
    -webkit-box-shadow: 15px 4px 46px 4px rgba(89,87,84,0.56);
    -moz-box-shadow: 15px 4px 46px 4px rgba(89,87,84,0.56);
    box-shadow: 15px 4px 46px 4px rgba(89,87,84,0.56);
}

.rightSide label{
    font-weight: 400;
    color:rgb(247, 242, 238);
    font-family: 'Afacad', sans-serif;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.rightSide input ,.rightSide textarea{
    font-family: 'Afacad', sans-serif;
    color:black
}


.btn{
    font-family: 'Afacad', sans-serif;
    font-weight: 800;
}
#sendBtn{
    
    background-color: rgb(240, 206, 177);
    text-decoration: none;
    color:black;
    border: .5px solid black;
    margin-bottom: 1.3em;
    transition: background-color 0.4s  ease-in , border-color 0.4s  ease-in;
}

#sendBtn:hover{
    background-color:rgb(241, 162, 92) ;
    border-color: white;
}




